@model Juna.SKS.Package.Website.Models.NewParcelInfo

@{
    ViewData["Title"] = "DisplaySubmit";
}

<h1>TrackingId</h1>

<div>
    <hr />
    <p>
        @Html.DisplayFor(model => model.TrackingId)
    </p>
</div>
<hr />
<div>
    <a asp-action="Index">Back to Home Page</a>
</div>
