@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to TrackNTrace by Juna</h1>
    <hr />
    <p>
        @Html.ActionLink("Submit Parcel", "Submit")
    </p>
    <hr />
    <p>
        @Html.ActionLink("Track Parcel", "Track")
    </p>
    <hr />
    <p>
        @Html.ActionLink("Report Parcel Hop", "ReportHop")
    </p>
    <hr />
    <p>
        @Html.ActionLink("Report Parcel Delivery", "ReportDelivery")
    </p>
</div>
