<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
	<staticContent>
		  <remove fileExtension=".json"/>
		  <mimeMap fileExtension=".json" mimeType="application/json"/>
	</staticContent>
    <handlers>
      <add name="httpPlatformHandler" path="*" verb="*" modules="httpPlatformHandler" resourceType="Unspecified"/>
    </handlers>
    <httpPlatform processPath="%DNX_PATH%" arguments="%DNX_ARGS%" stdoutLogEnabled="false"/>
  </system.webServer>
</configuration>
